.vs/
*.exe
*.suo
*.user
*.userosscache
*.sln.docstates
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
build/
bln/
[Bb]in/
[Oo]bj/
*.VisualState.xml
TestResult.xml
*.psess
*.vsp
*.vspx
*.sap